:root {
}

.button {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.UserField {
    left: -80px;
    align-items: center;
    -unity-text-align: upper-right;
}
